body{
	font:  20px;
	font: Arial;
}
.navbar {
	background-color: #58fafa;
}

.quem-somos{
	background-color: white;
	color: black;
}

.margin{
	padding-bottom: 50px;
	padding-top: 10px;
}

.parceiros{
	background-color: #58fafa;
}

.bg-footer{
	background-color: #58fafa;
	color: black;
}